@import yui-reset.css

h1
  :font-size 2em 
  :margin-bottom 0.3em

h2
  :font-size 1.6em
  :margin-bottom 0.2em

td
  :padding 3px

#menu-opts
  :float right

#plans
  :border 1px dashed #868686
  :width 50%
  :margin
    :left auto
    :right auto
    :bottom 12px

#goals
  :border 1px dashed #868686
  :width 50%
  :margin
    :left auto
    :right auto
    :bottom 12px

#activities
  .clickable
    :cursor pointer
  tr.odd
    :background-color #eee
  tr.context_switch
    :background-color #ffbbbb
  input
    :border 1px solid #868686

tbody.unclocked
  :display none

.editable
  :color #868686
  :font-weight bold
  :cursor pointer